.side-bar
  .side-bar__header
    .side-bar__header__icon
      = image_tag '/assets/live1.png', class: "tintin", size: '50x50'
    .side-bar__header__user-name
      = current_user.name
  .side-bar__groups
    - current_user.groups.each do |group|
      - if (@accepted_user.where('group_id = ?', group.id) != [])
        .side-bar__groups__group
          = link_to group_messages_path(group), class: "side-bar__groups__group__box" do
            .side-bar__groups__group__box__group-name
              = group.name
            .side-bar__groups__group__box__latest-message
              = group.latest_message