.side-menu
  .side-menu__list
    %ul
      %li
        = link_to edit_user_path(current_user), class: "side-menu__list__btn" do
          = icon('fas', 'user-cog')
      %li.move-right
        = link_to new_group_path, class: "side-menu__list__btn" do
          = icon('far', 'plus-square')
      %li
        %a
          = icon('far', 'comments')
      %li.move-right-abit
        %a
          = icon('fas', 'exclamation-circle')
