.wrapper
  = render "messages/side-menu"
  = render "messages/side-bar"
  .main-chat
    .main-chat__header
      .main-chat__header__left-box
        %p.main-chat__header__left-box__group-name
          = @group.name
        %ul.main-chat__header__left-box__members
          Member :
          - @group.users.each do |user|
            - if (torichan(@group.id, user.id) == "member")
              %li
                = user.name
        %ul.main-chat__header__left-box__invited-users
          Invited Members :
          - @group.users.each do |user|
            - if (torichan(@group.id, user.id) == "invited")
              %li
                = user.name
      = link_to edit_group_path(@group), class: "main-chat__header__edit-btn" do
        Edit
    -# ここからノート
    .note-page
      = render "left-bar-btn"
      = render partial: 'form', locals: { note: @note }
